\documentclass{article}
{% for package in package_list %}
\usepackage{ {{- package -}} }
{% endfor %}
\begin{document}
    \title{ {{- title -}} }
    \date{\today}
    \author{ {{- author -}} \\
      \texttt{ {{- email -}} }
    }
    \maketitle
    {% for section in section_list %}
    \section{ {{ section }} }
    {% endfor %}
    
    {% for figure in figure_list %}
	\begin{figure}[p]
	\centering
		{% for graphic in figure.graphics %}
		\includegraphics[scale={{graphic.scale}}]{ {{- graphic.path -}} }
		\caption{ {{- graphic.caption -}} }
		{% endfor %}
	\end{figure}
    {% endfor %}
\end{document} 